<div class="container">
    <div class="card" style="height: 100%;">
        <div class="row">
            {{#each products}}
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div>
                    <img src="{{ProductImage}}" alt="" class="border img-thumbnail img-fluid" style="height:95%;width:100%">
                    <p>{{ProductName}}</p>
                    <p>${{ProductSellingPrice}}</p>
                    <p>Quantity: {{ProductQuantity}}</p>
                    <button type="submit" class="btn btn-primary" >Buy Now</button>
                    <a class="btn btn-primary" href="/user/ProductDetails/{{id}}">Details</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>