<div class="container">
    <form method="post" action="/admin/addProductAdmin">
        <div class="row">

            <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                <label id="label" for="ProductId" class="text-dark font-weight-bold">Product Id:</label>
                <input id="productId" type="text" class="form-control col-sm-12 col-md-10 col-lg-10"
                    placeholder="Product Id" autocomplete="off" value="{{inventory.ProductId}}" name="ProductId"
                    required>
            </div>

            <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                <label id="label" for="ProductName" class="text-dark font-weight-bold">Product Name:</label>
                <input id="productName" type="text" class="form-control col-sm-12 col-md-10 col-lg-10"
                    placeholder="Product name" autocomplete="off" value="{{inventory.ProductName}}" name="ProductName"
                    required>
            </div>

            <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                <label for="ProductType" class="text-dark font-weight-bold">Product Type:</label>
                <select name="ProductType" id="productType" class="form-control" placeholder="Product type"
                    value="{{inventory.ProductType}}">
                    <option value="Beauty">Beauty</option>
                    <option value="Computers">Computers</option>
                    <option value="Sunglasses and Jewellery">Sunglasses and Jewellery</option>
                    <option value="Groceries">Groceries</option>
                </select>
            </div>

            <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                <label for="ProductDesc" class="text-dark font-weight-bold">Product Description:</label>
                <textarea name="ProductDesc" cols="35" rows="4"
                    class="form-control col-sm-12 col-md-10 col-lg-10"></textarea>
            </div>

            <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                <label for="ProductQuantity" class="text-dark font-weight-bold">Product Quantity:</label>
                <input id="productQuantity" type="number" name="ProductQuantity" placeholder="Product quantity"
                    value="{{inventory.ProductQuantity}}" autocomplete="off"
                    class="form-control col-sm-12 col-md-10 col-lg-10">
            </div>

            <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                {{!-- <label for="ProductImage" class="text-dark font-weight-bold">Product image:</label> --}}
                <input type="file" id="productImg" name="productImg" accept="image/png,image/jpeg,image/jpg,image/gif"
                    class="col-sm-12 col-md-10 col-lg-10">
                <img id="productImg" src="/images/no-image.jpg" />
                <input type="hidden" id="productImgURL" name="productImgURL" value="{{inventory.ProductImage}}" />
            </div>

            <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                <label for="ProductPrice" class="text-dark font-weight-bold">Product Cost Price:</label>
                <input id="productCostPrice" type="text" name="ProductSellingPrice"
                    class="form-control col-sm-12 col-md-10 col-lg-10" value="{{inventory.ProductCostPrice}}"
                    autocomplete="off">
            </div>

            <div class="form-inline form-group col-sm-12 col-md-12 col-lg-12">
                <label for="ProductPrice" class="text-dark font-weight-bold">Product Selling Price:</label>
                <input type="text" name="ProductSellingPrice" class="form-control col-sm-12 col-md-10 col-lg-10"
                    autocomplete="off">
            </div>

            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <button type="submit" onclick="enable()" class="btn btn-primary">Add product</button>
            </div>
        </div>

    </form>

    <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-primary" onclick="location.href='/admin/adminProductsView'">Cancel</button>
    </div>
</div>

<script>
    document.getElementById("productId").disabled = true;
    //document.getElementById("productName").disabled = true;
    //document.getElementById("productType").disabled = true;
    //document.getElementById("productQuantity").disabled = true;
    //document.getElementById("productImgURL").disabled = true;
    document.getElementById("productCostPrice").disabled = true;
</script>
