<div>
    <li class="navbar-brand font-weight-bold"><a href="/admin/adminProductsView" class="nav-link">Back To Products</a></li>
    <li class="navbar-brand font-weight-bold"><a href="/admin/BuyProduct" class="nav-link">Buy New</a></li>
</div>
{{#if inventory}}
<table class="table table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <td>Id</td>
            <td>Image</td>
            <td>Name</td>
            <td>Type</td>
            <td>Cost Price (S$)</td>
            <td>Quantity</td>
            <td>Date Purchased</td>
        </tr>
    </thead>
        {{#each inventory}}
        <tr>
            <td>{{ProductId}}</td>
            <td>
                <img src="{{ProductImage}}" alt="" class="border img-thumbnail img-fluid" style="height:95%;width:100%">
                </td>
            <td>{{ProductName}}</td>
            <td>{{ProductType}}</td>
            <td>{{ProductCostPrice}}</td>
            <td>{{ProductQuantity}}</td>
            <td>{{formatDate BuyingDateTime 'DD/MM/YYYY HH:mm:ss'}}</td>
            <td>
                <div class="btn-group" role="group">
                    {{!-- <button type="button" class="btn btn-success">View</button> --}}
                    <a role="button" class="btn btn-primary" href="/admin/addProductAdmin/{{id}}">Add To Product</a>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
<h1 class="text-center font-weight-bold">No Inventory Found</h1>
{{/if}}